@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="container" class="text-center">
    <h1>Search Engine</h1>
    <label for="word">Enter your search</label>
    <input id="inputWord" type="text" />
    <button id="btnSearch">Search</button> 

    @*<div id="urlContainer" class="url-container"></div>*@

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
